@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* border: 1px solid red; */
}

/* Registration Page CSS Classes */
/* These will need to be updated to the placement is formfitting (flexbox?)*/
/* Maybe we don't want to put the flex styling in here, as we want these to be re-usable? */

/*-------*/
.page {
  /* background-color: lightblue;
  width: 750px;
  height: 1500px;
  margin-left: 500px; */
  /* border: 1px solid red; */
}

.page > header {
  background-color: white;
  padding: 8px;
  /* right+left 0 is the trick to filling the width. */
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.page > header > .logo {
  height: 50px;
}

.info {
  /* padding-top: 112px; */
}

.info > .MuiAlert-standard {
  margin: 8px 0;
}

.album {
  width: 100%;
}

.album > header {
  width: 100%;
}

.album > .profiles {
  margin-bottom: 60.5px;
}

.profile:first-child > .name {
  background: rgb(254, 254, 119);
}

.profile > .name {
  background: #f0f0f0;
  margin-bottom: -40px;
  z-index: 2;
  opacity: .95;
}

.profile > .more {
  margin-top: 40px;
}

.page > footer {
  background-color: #e5f6fd;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px 0;
}
